#Todo что за docs/.env? его там не должно быть. он должен быть в корне проекта

# Игнорировать папку node_modules
node_modules/

# Игнорировать файл .env
docs/.env

# Игнорировать файлы
.env
docs/.env
